In [8]:
import pandas as pd
flights=pd.read_csv('D:/data-engineering-zoomcamp-main/week_6_stream_processing/circuit.csv')
modified=flights.fillna("No name")
display(modified)
modified.to_csv('new.csv',index=False)

    circuitId   circuitRef                                  name
0           1  albert_park        Albert Park Grand Prix Circuit
1           2       sepang                               No name
2           3      bahrain                               No name
3           4    catalunya                               No name
4           5     istanbul                               No name
..        ...          ...                                   ...
72         73          BAK                     Baku City Circuit
73         74        hanoi                  Hanoi Street Circuit
74         75     portimao    Autódromo Internacional do Algarve
75         76      mugello  Autodromo Internazionale del Mugello
76         77       jeddah                               No name

[77 rows x 3 columns]